extends base 

block vars 
    - var title = "Dashboard"

block body 
    h1 Dashboard
    p.
        Welome to your dashboard! You are logged in.

    h2 User Information
    p First Name: #{user.firstName}
    p Last Name: #{user.lastName}
    p Email: #{user.email}